.aside{
    padding: 10px;
    background-color: aliceblue; /*임시색상*/
    width: 200px;
    height: 580px;
    border: 1px solid black;
    position: fixed;
    top: 225px;
    left: 100px;


}
.aside h3   {
    padding-top: 15px;
    padding-left: 5px;
}
.aside p{
    padding-left: 15px;
}
.a{
    position: absolute;
    top: 0;
    right: 0;
}
