.wrap{
    
}

/*///////////////////

        header 부분

    ////////////////////*/



/*///////////////////

        container 부분

    ////////////////////*/
.container{
    width: 1400px;
    height: 1400px;
    margin: 0 auto;
    position: relative;
}
.container_inner{
    position: relative;
    height: 1400px;
    margin: 0px auto;
    width: 980px;
    
}

/*///////////////////

        footer 부분

    ////////////////////*/
.footer{
    background-color:dimgrey;
}
.footer_inner{
    width: 980px;
    height: 150px;
    margin: 0px auto;
    line-height: 3rem;
    text-align: center;
}

